@charset "UTF-8";

/* mobo first */

*{
    margin: 0px;
    padding: 0px;
    font-size: 1.3em;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


html{
    height: 100vh;
   
}


body{
    background: black url(imagens/back-phone.jpg);
    background-position: center center;
    background-size: cover;
}

main{
    background-color: rgba(255, 255, 255, 0.724);
    width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 10px;
}

h1{
    text-align: center;
    color: white;
    text-shadow:2px 2px 2px rgba(0, 0, 0, 0.697);
}

img{
    display: block;
    margin: auto;
}


img#mobile{display: block;}

img#pc{display: none;}

img#tablet{display: none;}

img#televisao{display: none;}

img#print{display: none;}

